<span> {{book.title}} </span>
<span>, by {{book.author}} </span>
{{#truth book}}
  <button class="btn btn-danger" type="button" name="button"><span class="glyphicon glyphicon-remove"></span></button>
{{/truth}}
