<span> {{book.title}} </span>
<span>, by {{book.author}} </span>
{{#truth book}}
  <button class="btn-xs btn-danger retcon" type="button" name="button">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
{{/truth}}
