{{#each surfboards}}
  <li class="quiver_handles">
    <strong>Board id: {{this.id}}</strong>
    <br>
    Shape: {{this.shape}}
    <br>
    Size: {{this.height}}"
    <br>
    Fin Setup: {{this.fin_setup}}
    <hr>
  </li>
{{/each}}
{{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
</button> --}}
